.card {
  position: relative;
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: 195px 40px 35px 140px 80px;
  grid-template-areas: "image" "text" "num" "types" "stats";
  border-radius: 18px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: center;


  transition: 0.5s ease;
  cursor: pointer;
  margin: 30px;
}

.card-image {
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: contain !important;
}

.card-name {
  grid-area: text;
  text-align: center;
  margin-top: 1.5rem;
  font-size: 3.5rem;
  font-weight: 600;
  color: #333;
  text-transform: capitalize;
}

.card-num {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 2rem 0;
  color: #333;
  font-size: 1.4rem;
  font-weight: bold;
}

.card-types {
  grid-area: types;
  padding-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-types span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3%;
  color: #ffffff;
  text-shadow: 1px 1px 1px #262626;
  -o-border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  border-radius: 1rem;
}

.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #00b894;
}

.card-stats .stat {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  border-left: 1px solid #e7e7e7;
}

.card-stats .stat:first-child {
  border-left-width: 0px;
}

.card-stats .value {
  font-size: 22px;
  font-weight: 500;
}

.card-stats .type {
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}
