<div class="search">
  <input
    [(ngModel)]="FindInput"
    type="text"
    placeholder="Find by NAME or NUMBER"
    class="Input"
    id="Input"
    (keydown.enter)="FindPokemon(FindInput)"
  />
  <button
    type="button"
    title="Seach Pokemon"
    class="Button"
    id="btn"
    [routerLink]="['/pokemon', FindInput]"
    routerLinkActive="router-link-active"
  >
    FIND
  </button>
  <button
    type="button"
    title="Seach Pokemon"
    class="Button"
    id="btnAll"
    [routerLink]="['/']"
    routerLinkActive="router-link-active"
    (click)="FindAllPokemon()"
  >
    LIST ALL
  </button>
</div>
