<ng-container *ngIf="PokeInf$ | async as PokeInf">
  <main class="container" *ngIf="PokeSpecies$ | async as PokeSpecies">
    <section
      class="container-card"
      [style]="ReturnBackgroundColor(PokeInf.types[0].type.name)"
    >
      <span class="container-card-background"></span>

      <article class="info">
        <h1>{{ PokeInf.name }}</h1>
        <h3>Nº {{ addZero(PokeInf.id, 3) }}</h3>
        <div class="card-types">
          <span
            *ngFor="let type of PokeInf.types"
            [style]="ReturnBackgroundColor(type.type.name)"
          >
            <img
              src="../../../assets/icons/{{ type.type.name }}.svg"
              alt="icon {{ type.type.name }}"
              title="{{ type.type.name }}"
              [style]=""
            />
          </span>
        </div>
        <div class="ability">
          <h4>ABILITIES</h4>
          <div class="containerAbility">
            <span *ngFor="let ability of PokeInf.abilities">
              {{ ability.ability.name }}
            </span>
          </div>
        </div>
        <p>
          {{ GetPokemonText(PokeSpecies.flavor_text_entries) }}
        </p>
      </article>

      <article class="envol">
        <h1>{{ PokeInf.name }} Nº {{ PokeInf.id }}</h1>
        <p>
          {{ PokeSpecies.flavor_text_entries[0].flavor_text }}
        </p>
      </article>

      <article class="image-container">
        <figure [style]="ReturnImagePokemon(PokemonVarietyID)"></figure>
        <div class="containerButtonsVarieties">
          <button
            class="btnVarieties"
            name="{{ forms.pokemon.name }}"
            title="{{ forms.pokemon.name }}"
            type="button"
            (click)="ChangePokemonVariety(forms.pokemon.url)"
            *ngFor="let forms of PokeSpecies.varieties"
          >
            {{ forms.pokemon.name }}
          </button>
        </div>
      </article>
    </section>
  </main>
</ng-container>
