.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 90vh;
  overflow: hidden;
  background-color: #ddd;
  font-family: roboto;
}

.container-card{
  position: relative;
  display: flex;
  width: 75%;
  height: 85%;
  padding: 1rem;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}

.container-card-background{
  position: absolute;
  width: 80%;
  height: 99%;
  background-color: #eee;
  top: .25rem;
  left: .25rem;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}


.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
  width: 45rem;
  padding: 1rem;
}

.info h1{
  text-transform: capitalize;
  font-variant: small-caps;
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: -1.5rem;
}

.info h3{
  font-variant: small-caps;
  font-weight: bold;
}

.info p{
  line-height: 1.7rem;
  text-align: start;
}

.info .card-types {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: -1.5rem;
}

.info .card-types span {
  display: flex;
  margin: 0rem 1rem;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.info .card-types span img {
  width: 20px;
  height: auto;
  margin-right: 0px;
}

.ability {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: .5rem;
}

.ability h4{
  text-align: center;
  font-size: 2rem;
}

.ability > .containerAbility{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 1rem;
  row-gap: 1rem;
  height: auto;
  background-color: none !important;
}

.btnVarieties,.ability > .containerAbility span{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  align-items: center;
  padding: .5rem;
  background-color: #113864;
  border-radius: .5rem;
  color: #ddd;
  height: 2.5rem;
  box-shadow: 4px 3px 12px rgba(17, 56, 100, 0.7);
}

.image-container{
  min-width: 350px;
}

.image-container figure{
  width: 100%;
  height: 400px;
  background-size: contain !important;
}

.image-container .containerButtonsVarieties{
  width: 100%;
  display: flex;
  height: 6rem;
  overflow: hidden auto;
  flex-wrap: wrap;
  row-gap: .5rem;
  align-items: center;
  justify-content: center;
}

.image-container .containerButtonsVarieties .btnVarieties{
 margin: 0 .5rem;
 cursor: pointer;
}

.info, .chainEvolution, .image-container{
  z-index: 100;
}

.chainEvolution{
  display: flex;
  flex-direction: column;
  width: 45%;
}

.chainEvolution h1{
  font-size: 2.5rem;
  text-align: center;
  font-variant: small-caps;
  text-transform:capitalize;
  padding: 1rem;
}

.chainEvolution .chainEvolutionImageContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.chainEvolutionImage{
  width: 100%;
  height: 11rem;
  display: flex;
  align-items: center;
  margin: .5rem 0;
  overflow: auto hidden;
}

.chainEvolutionImageContainer .chainEvolutionImage > .arrowEvolution {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: -2rem;
}

.chainEvolutionImageContainer .chainEvolutionImage .chainEvolutionImageLink{
  width: 10rem;
  height: 11rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 .5rem;
  color: #333;
  text-decoration: none;
}

.chainEvolutionImageContainer .chainEvolutionImage .chainEvolutionImageLink > h5{
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.chainEvolutionImageContainer .chainEvolutionImage .chainEvolutionImageLink > img{
  width: auto;
  height: 70%;
}

.goBackLink{
  position: absolute;
  text-decoration: none;
  text-transform: capitalize;
  font-variant: small-caps;
  font-size: 2.5rem;
  color: #333;
  font-weight: bold;
  top: 80px;
  left: 35px;
}

.goBackLink::before{
  content: '\2190';
  font-size: 3.5rem;
  position: absolute;
  top: -11px;
  left: -31px;
}
