/* reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-size: 1.6rem;
  min-width: 100vw;
  min-height: 100vh;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

input,
button {
  outline: none;
  outline-width: 0px;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #e7e7e7;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fadd5e;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b1b1b1;
}


.card-types {
  grid-area: types;
  padding-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-types span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3%;
  color: #ffffff;
  text-shadow: 1px 1px 1px #262626;
  -o-border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  border-radius: 1rem;
}

.card-types span img {
  width: 20px;
  height: auto;
  margin-right: 5px;
}
